#ms_main {
    background-color: #0400E6;
    color: white;
    
    #icon-profile {
        position: fixed;
        z-index: 2;
        right: 10px;
        top: 10%;
        ul li {
            list-style: none;
            text-align: center;
        }
        .icon-profile {
            padding: 10px;
            font-size: 30px;
            color: white;
            &:hover {
                color: #00EEEB;
            }
        }
    }

    .ms_box {
        height: calc(100vh + 110px);
    }

    #About-me,
    #Certifications,
    #Projects {
        font-size: 27px;
        text-align: center;
    
        h2 {
            padding-bottom: 50px;
            color: #00EEEB;
        }
    
        a {
            color: #00EEEB;
        }

        img {
            box-shadow: 0px 2px 10px 2px grey;
        }
        
        #description {
            font-weight: 400;
            letter-spacing: 0.5px;
            color: white;
            a {
                text-decoration: none;
            }
        }
    }

    #Tecnologies {
        ul li {
            list-style: none;
        }

        .icon {
            text-align: center;
            padding: 10px;
            font-size: 50px;
            color: #00EEEB;
        }
    }

    #Projects {
        h3 {
            color: #00EEEB;
        }
    }

    #Certifications {
        img {
            width: 350px;
        }
    }

    @media screen and (max-width: 991.98px) {
        #description {
            font-size: 14px;
        }

        #Tecnologies {
            ul li {
                width: calc(100% / 4 - 10px);
                display: flex;
                justify-content: center;
            }

            .icon {
                font-size: 40px;
            }
        }

        #Certifications {
            img {
                width: 250px;
            }
        }
        
    }
}